<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hex</title>
    <link rel="icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="vue-app">
        <p>Loading...</p>
    </div>

    <% for(var jsLocation of Object.values(manifest)) {%>
        <script type="text/javascript" src="<%- jsLocation %>"></script>
    <% } %>
</body>

</html>
