<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= seo.title %></title>

    <link rel="manifest" href="/pwa-manifest.json" />
    <meta name="theme-color" content="#DC3545"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include('partials/seo-tags.ejs') %>
</head>

<body>
    <div id="vue-app">
        <p
            style="margin:0;padding-top:5em;font-size:2em;position:fixed;left:0;top:0;width:100%;height:100%;font-family:sans-serif;text-align:center;color:#dee2e6;background-color:#212529"
        >Loading…</p>
    </div>

    <%- include('partials/sentry.ejs') %>

    <% for(var jsLocation of Object.values(manifest)) {%>
        <script type="text/javascript" src="<%- jsLocation %>"></script>
    <% } %>
</body>

</html>
