<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= seo.title %></title>

    <link rel="manifest" href="/pwa-manifest.json" />
    <meta name="theme-color" content="#DC3545"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include('partials/seo-tags.ejs') %>
    <% if (umami.websiteId) { %><%- include('partials/umami.ejs') %><% } %>
</head>

<body>
    <div id="vue-app">
        <p>Loading...</p>
    </div>

    <% for(var jsLocation of Object.values(manifest)) {%>
        <script type="text/javascript" src="<%- jsLocation %>"></script>
    <% } %>
</body>

</html>
