/**
 * Top and down menus.
 */
.menu-top, .menu-game
    display block
    height 2em
    padding 0

    p
        margin 0

.card-bg-icon
    overflow hidden
    position relative

    & > i
        font-size 10em
        position absolute
        top -4rem
        right -1rem
        opacity 15%

/**
 * Online status icon
 */
.online-status-icon
    font-size 0.6rem
    margin-right 0.4em
    vertical-align middle
