:root
    --player-a-color var(--bs-danger)
    --player-b-color var(--bs-primary)

.text-player-a
    color var(--player-a-color)

.text-player-b
    color var(--player-b-color)

/**
 * Top and down menus.
 * Heights must be same, and complementary to .app-board height.
 * So we can scroll top or bottom to display either top or game menu.
 */
.top-down-menu
    display block
    height 6vh
    padding 0

    p
        margin 0

.app-board
    height 94vh
